footer {
    background-color: #333;
    color: #eeeaea;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.redes-sociales a {
    margin: 0 10px;
    text-decoration: none;
    color: #ebeaf0;
    font-size: 24px;
}