nav ul li {
    display: inline;
    margin-right: 120px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight:normal ;
}

.responsive-btn {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}