@media screen and (max-width: 980px) {    
    .imagenes-servicio {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .imagenes-servicio.largo {
        grid-template-columns: repeat(3, 1fr);
    }

    .responsive-btn {
        display: block;
    }

    .header nav {
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        background: #fff;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
    }

    .header nav.abierto{
        max-height: 1000px;
        box-shadow: -1px 4px 8px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: -1px 4px 8px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: -1px 4px 8px 1px rgba(0,0,0,0.5);
    }

    .header nav a, 
    .header nav button {
        color: #000;
    }

    .header nav ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .header nav ul li, 
    .header nav .desplegable {
        display: block;
        width: 100%;
        margin: 0;
        text-align: left;
        border-bottom: solid 1px rgb(227 227 227);
        padding: 12px;
        box-sizing: border-box;
    }

    .header nav .desplegable-content {
        display: block;
        position: relative;
        background-color: transparent;
        box-shadow: inherit;
    }
}

@media screen and (max-width: 767px) {    
    .imagenes-servicio {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .imagenes-servicio.largo {
        grid-template-columns: repeat(2, 1fr);
    }
}